*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}
body{
    background-image: url(../img/sfondo1.webp);
    background-size: cover;
}

body>div{
    width: 800px;
    margin: auto;
}

div.container>h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem 0; 
    margin: 0.5rem 10rem;  
     background-color: yellowgreen;
     border-radius: 15px;
}

div.container>p{
    padding: 1rem 2rem;
    margin: 0 2rem;
    background-color: yellowgreen;
    border-radius: 15px;
    text-align: center;
}

div.grid{
    flex-wrap: wrap;
}

.box-style{
    width: calc((100% / 3) - 2rem);
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    margin: 1rem;
    background-color: yellowgreen;
    border-radius: 15px;
    padding-bottom: 0.5rem;

}

.box-style img{
    border-radius: 15px;
    margin-bottom: 0.5rem;
}

.box-style>:nth-child(2){
    font-size: 1.3rem;
    font-weight: bold;
}